<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="../assets/css/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <style>
      @import url("https://fonts.googleapis.com/css?family=Poiret+One|Quicksand&display=swap");
    </style>
    <title>CV</title>
    <!-- add icon link -->
    <link rel="icon" type="image/x-icon" href="../assets/image/cv_6476337.png">
  </head>
  <body>
    <main class="resumeCanvas">
      <div class="gridParent">
        <div class="titleHeader">
          <p align ="Right">
            <img src="../assets/image/photo-1.jpg" alt="profile">
          </p>
          <h1>
            <a> Phumipat </a>
          </h1>
          <h1>
            <a> Seneewong Na Ayudhya </a>
          </h1>&nbsp
        </div>
        <!-- info -->
        <section class="leftSummary">
          <div class="bioIntro">
            <h1>About Me</h1>
            <p class="info">
              My name is Phumipat Seneewong Na Ayudhya, you can call me Poom. 
              I recently graduated with a Bachelor's degree in Computer Engineering from Rajamangala University of Technology Lanna.
            <br>
              I developed a foundation in software development, web development, UX/UI design, 
              network systems, and video editing during my studies.
            <br>
              These experiences have prepared me to adapt quickly to new environments and take on challenging projects. 
              I am passionate about working in a dynamic work environment and am eager to contribute to the organization's development 
              while continuously enhancing my skills.
            </p>
          </div>
          <!-- internship experience -->
          <div class="Experience">
            <h1>Internship Experience</h1>
            <h3>National Telecom (NT) 2023-2024</h3>
            <h4> Internship </h4>
            
            <h3>Faculty of Engineering, Chiang Mai University. 2020</h3>
            <h4> Internship It Support </h4>
            
            <h3>Faculty of Engineering, Chiang Mai University. 2018</h3>
            <h4> Internship It Support </h4>
            
            <h1>Language</h1>
            <p>Thai, Engilsh(Pre-Intermediate).</p>
            <h1>Interests</h1>
            <p> Technology, Books, Football, Games, Arts</p>
          </div>
        </section>
        <!-- contact -->
        <section class="rightInfo">
          <div class="contacts">
            <h1> Contact </h1>
            <p>
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
              <a href="mailto:phumipat.se9@gmail.com"> 
                phumipat.se9@gmail.com </a>
            </p>
            <p>
              <i class="fa fa-phone" aria-hidden="true"></i>
              <a> 084 221 6903 </a>
            </p>
            <p>
              <i class="fa fa-github" aria-hidden="true"></i>
              <a href="https://github.com/Phumipat2000" target="_blank" class="m-3"> 
                github.com/Phumipat2000 </a>
            </p>
            <p>
              <i class="fa fa-facebook" aria-hidden="true"></i>
              <a href="https://www.facebook.com/4dxzgod/" target="_blank" class="m-3">
                facebook.com/4dxzgod </a>
            </p>
            <p>
              <!--i class="fa fa-map" aria-hidden="true"></i-->
              <img src="../assets/image/icons8-address-16.png" aria-hidden="true">
              <a href="https://maps.app.goo.gl/nSFow2aBrZApHPqc9" target="_blank" class="m-3"> 
                No. 6, Moo 3, Luang Nuea Sub-district, Doi Saket District, Chiang Mai Province, 50220, Thailand. </a>
            </p>
          </div>
          <!-- skills -->
          <div class="skills">
            <h1>Skills</h1>
            <p>
                <i class="fa fa-html5" aria-hidden="true"></i>
                HTML (Intermediate)</p>
            <p>
                <I class="fa fa-css3" aria-hidden="true"></i>
                CSS (Pre-Intermediate)</p>
            <p>
                <img src="../assets/image/figma.png" aria-hidden="true">
                Figma (Intermediate)</p>
            <p>
                <img src="../assets/image/php-programming-language.png" aria-hidden="true">
                PHP (Elementary)</p>
            <p>
                <img src="../assets/image/mysql.png" aria-hidden="true">
                MySQL (Pre-Intermediate)</p>
            <p>
                <img src="../assets/image/java-script.png" aria-hidden="true">
                JavaScript (Elementary)</p>
            <p>
                <i class="fa fa-github" aria-hidden="true"></i>
                GitHub (Pre-Intermediate)</p>
            <p>
                <img src="../assets/image/photoshop.png" aria-hidden="true">
                Ps (Intermediate)</p>
            <p>
                <img src="../assets/image/premiere-pro.png" aria-hidden="true">
                Pr (Intermediate)</p>
          </div>
          <!-- education -->
          <div class="education">
            <h1>Education</h1>
            <h3><p>Computer Engineering</p></h3>
            <p>Rajamangala University of Technology Lanna 2021-2024</p>
          </div>
        </section>
      </div>
    </main>
  </body>
</html>
